{{- $translations := .Site.Params.translations -}}

{{- if $translations -}}

{{- $defaultConfig := .Site.Data.config.default.widgets.translations -}}
{{- $configData := ( or .Site.Data.config.widgets.translations $defaultConfig ) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

<section class='widget widget-translations'>
  {{- with $config.title -}}
  <header>
    <h4 class='title widget-title'>
      {{- . -}}
    </h4>
  </header>
  {{- end -}}

  <nav id='translations' class='menu translations' aria-label='{{ i18n "translation" }}'>
        {{ if .IsTranslated }}
            <h4>{{ i18n "translations" }}</h4>
            <ul>
            {{ range .Translations }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}{{ if .IsPage }} {{ end }}</a>
                </li>
            {{ end }}
            </ul>
        {{ end }}
  </nav>

</section>

{{- end -}}
