<head>
  {{ partial "head/meta" . }}
  <title>{{ partial "data/title" . }}</title>
  <link rel='canonical' href='{{ .Permalink }}'>
  {{ range .AlternativeOutputFormats -}}
    <link rel='{{ .Rel }}' type='{{ .MediaType.Type }}' href='{{ .Permalink | safeURL }}'>
  {{ end -}}
  {{ partial "head/hreflang" . }}
  {{ partial "head/includes" . }}
  {{ partial "head/extra" . }}
</head>
