<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='{{ partial "data/description" . }}'>
<meta name='theme-color' content='{{- .Site.Params.settings.accentColor | default "#ffcd00" -}}'>
<meta name='referrer' content='no-referrer, same-origin'>
<meta name='fediverse:creator' content='{{ .Site.Data.authors.guillaume.social.fediverse }}'>

{{ partial "head/opengraph" . }}

{{ hugo.Generator }}
