{{ partial "header" . }}

{{ partial "header/header" . }}

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/content" . }}
</div>
{{ end }}

<div class='container list-container'>
    {{ range .Pages.GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    <ul class='list'>
        {{ range .Pages }}
            {{ .Render "li" }}
        {{- end -}}
    </ul>
    <br>
    {{ end }}
</div>

{{ partial "footer" . }}
